
@model ASPNETMVC5.AWS.ViewModels.Contacts.ContactListViewModel

@{
    var grid = new WebGrid(Model.Contacts,
                   canPage: false,
                   canSort: true,
                   defaultSort: Model.SearchFilter.SortColumn,
                   ajaxUpdateContainerId: "innerGridContainer",
                   ajaxUpdateCallback: "app.setTableSortImages();");
}

<div style="margin-top:10px" class="row" id="gridContainer">
    <div class="col-md-12" id="innerGridContainer">
        <div class="panel panel-primary">
            <div class="panel-body panel-nopadding">
                @if (Model.Contacts.Any())
                {
                    <div class="table-responsive">
                        @grid.GetHtml("table table-hover table-striped sort ",
                        columns: grid.Columns(
                        grid.Column("FirstName", "Name", @<text>
                        @item.FullName
                            </text>),                       
                        grid.Column("Email", "Email", @<text>
                        @item.Email
                            </text>),
                        grid.Column("CellPhone", "CellPhone", @<text>@item.CellPhone</text>),
                        grid.Column("Address", "Address", @<text>@item.Address</text>),
                        grid.Column("Action", format: @<text>
                         <div class="toolbar">
                                <div class="btn-group">
                                    <a class="table-link" title="Detalles" href="/customer/@item.Id/@ASPNETMVC5.AWS.Infrastructure.HtmlHelper.GenerateSlug(item.FullName)">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a class="table-link" title="Editar" href="/customer/edit/@item.Id">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a title="Eliminar" class="table-link danger" href="/customer/delete/@item.Id">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </div>
                            </div>
                            </text>, canSort: false)
                        ))
                        @Html.Hidden("dir", grid.SortDirection)
                        @Html.Hidden("col", grid.SortColumn)
                    </div>
                }
                else
                {
                    <div class="alert alert-warning"><i class="fa fa-info-circle"></i> There are currently contact to show.</div>
                }

                @if (Model.SearchFilter.TotalCount > 0)
                {
                    <div class="panel-footer">
                        <div class="row-fluid">
                            <div class="span10">
                                @if (Model.SearchFilter.TotalCount > Model.SearchFilter.PageSize)
                                {
                                    @Html.PagedListPager((IPagedList)Model.Contacts, page => Url.Action("List", new
                                    {
                                        pageNumber = page,
                                        searchTerm = Model.SearchFilter.SearchTerm,
                                        sort = Model.SearchFilter.SortColumn,
                                        sortdir = Model.SearchFilter.SortDirection
                                    }),PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "gridContainer" }))
                                }
                            </div>
                            <div class="span2 text-right">
                                <p class="total-count"><span class="margin-top-10">Total Record:</span><span class="bolder">@Model.SearchFilter.TotalCount</span></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



